dtd/dfxml.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2012 sp1 (x64) (http://www.altova.com)-->
<!ELEMENT volume ((byte_runs, ftype, ftype_str, block_size, block_count, first_block, last_block, fileobject))>
<!ATTLIST volume
	offset CDATA #REQUIRED
>
<!ELEMENT source ((imagefile, sectorsize, device_model, device_sn, acquisition_commandline, acquisition_device, device_capabilities, sectorsize, devicesectors, acquisition_macaddr, acquisition_date))>
<!ATTLIST source
	type CDATA #REQUIRED
>
<!ELEMENT sectorsize (#PCDATA)>
<!ATTLIST sectorsize
	coding CDATA #REQUIRED
>
<!ELEMENT run EMPTY>
<!ATTLIST run
	img_offset CDATA #REQUIRED
	len CDATA #REQUIRED
	offset CDATA #REQUIRED
>
<!ELEMENT last_block (#PCDATA)>
<!ELEMENT imagefile (#PCDATA)>
<!ELEMENT ftype_str (#PCDATA)>
<!ELEMENT ftype (#PCDATA)>
<!ELEMENT first_block (#PCDATA)>
<!ELEMENT fileobject (#PCDATA)>
<!ELEMENT dfxml ((source, volume))>
<!ATTLIST dfxml
	xmlns:xsi CDATA #FIXED "http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation CDATA #FIXED "file:dfxml.xsd"
>
<!ELEMENT devicesectors (#PCDATA)>
<!ATTLIST devicesectors
	coding CDATA #REQUIRED
>
<!ELEMENT device_sn (#PCDATA)>
<!ELEMENT device_model (#PCDATA)>
<!ELEMENT device_capabilities (#PCDATA)>
<!ELEMENT byte_runs ((run))>
<!ELEMENT block_size (#PCDATA)>
<!ELEMENT block_count (#PCDATA)>
<!ELEMENT acquisition_macaddr (#PCDATA)>
<!ELEMENT acquisition_device (#PCDATA)>
<!ELEMENT acquisition_date (#PCDATA)>
<!ELEMENT acquisition_commandline (#PCDATA)>
